*, *::after, *::before {
  box-sizing: border-box;
}

.navbar-brand {
  width: 40px;
}
@media (min-width: 992px) {
  .navbar-brand {
    width: 60px;
  }
}
.navbar-nav {
  gap: 30px;
}
.navbar-toggler {
  color: white;
}
.navbar-toggler-icon {
  color: white;
}
.navbar .nav-link {
  color: white;
  font-size: 18px;
}

header {
  height: 70vh;
  background: url("dereva.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
header h2 {
  font-weight: 700;
  font-size: 64px;
  color: #362006;
}
@media (min-width: 992px) {
  header h2 {
    font-size: 82px;
  }
}
header p {
  font-size: 24px;
  font-weight: 600;
}
header .row {
  max-width: 700px;
  text-align: left;
}
@media (max-width: 576px) {
  header .row {
    text-align: center;
  }
}

.main {
  height: auto;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .main {
    height: 150vh;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .main {
    height: 80vh;
  }
}
.main .container {
  background-color: #fce8d2;
}
.main .row {
  display: flex;
  justify-content: center;
}
.main .col-md-4 {
  height: 500px;
}
.main .content {
  box-shadow: 9px 9px 2px 1px #b3b1ae;
  width: 400px;
  height: 400px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .main .content {
    width: 500px;
    height: 500px;
  }
}
.main .content h2 {
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.main .content p {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .main .content p {
    font-size: 22px;
  }
}
.main h2 {
  font-size: 52px;
}

.prod {
  height: auto;
  display: flex;
  align-items: center;
  background-color: #ffdd99;
}
@media (min-width: 768px) {
  .prod {
    height: 75vh;
  }
}
.prod .col-md-6 {
  height: 625px;
  text-align: center;
}
.prod h2 {
  font-size: 36px;
}
.prod p {
  font-size: 20px;
}
.prod .cont {
  height: 330px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .prod .cont {
    height: 430px;
    width: 430px;
  }
}
.prod .cont .row- {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prod .cont .cont-img {
  width: 100px;
  height: 100px;
  background-color: #000;
}
@media (min-width: 1200px) {
  .prod .cont .cont-img {
    width: 126px;
    height: 126px;
  }
}
.prod .cont .cont-img .autoimg {
  width: 100px;
}
@media (min-width: 1200px) {
  .prod .cont .cont-img .autoimg {
    width: 126px;
  }
}

.about {
  height: auto;
}
@media (min-width: 768px) {
  .about {
    height: 128vh;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .about {
    height: 80vh;
  }
}
.about h2 {
  font-size: 42px;
  text-align: center;
}
.about .col-md-6 {
  height: 470px;
}
.about .col-md-6 h2 {
  font-size: 36px;
  text-align: center;
}
.about .img-cont {
  width: 250px;
  height: 275px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .about .img-cont {
    width: 300px;
    height: 325px;
  }
}
.about .row {
  display: flex;
  justify-content: center;
}
.about p {
  max-width: 260px;
  text-align: center;
}
.about .auto {
  width: 250px;
}
@media (min-width: 1200px) {
  .about .auto {
    width: 300px;
  }
}

footer {
  height: 9vh;
  background-color: #422010;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h2 {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.modal .modal-title {
  font-size: 32px;
}
.modal .form-control {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}
.modal .form-control:focus {
  outline: none;
  background-color: #e0e0e0;
  box-shadow: none;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;
}
.btn-close:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn-primary {
  background-color: rgb(190, 102, 42);
  border: none;
}
.btn-primary:active {
  --bs-btn-active-bg: rgb(218, 149, 104);
}

.btn-primary:hover {
  background-color: rgb(126, 66, 27);
}/*# sourceMappingURL=home.css.map */